## Tuple

The Tuple data structure is an ordered collection of elements that can hold a fixed number of items. It is similar to a list, but unlike lists, tuples are immutable, meaning that once they are created, their contents cannot be changed.

In [1]:
# Creating Tuple
created_tuple=()
print(created_tuple)
print(type(created_tuple))

()
<class 'tuple'>

In [2]:
# Conversion of List to Tuple
nums=[1,2,3,4,5]
converted_tuple=tuple(nums)
print(converted_tuple)
print(type(converted_tuple))
print(nums)
print(type(nums))

(1, 2, 3, 4, 5)
<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>

In [3]:
mixed_tuple=(1,"Hello",3.14,True)
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [4]:
numbers_tuple=(1,2,3,4,5)
print(numbers_tuple[0])
print(numbers_tuple[1])
print(numbers_tuple[2])
print(numbers_tuple[3])
print(numbers_tuple[4])

1
2
3
4
5

In [5]:
print(numbers_tuple[-1])
print(numbers_tuple[-2])

5
4

In [6]:
print(numbers_tuple[0:3])

(1, 2, 3)

In [7]:
print(numbers_tuple[::-1])

(5, 4, 3, 2, 1)

In [8]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [9]:
t3*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [10]:
members=("Alice","Bob","Charlie")
print(members[0])
members[0]="David"

Alice

TypeError: 'tuple' object does not support item assignment

In [11]:
# Some built-in functions for tuple
names=("Anik","Saptarshi","Ramesh")
print(len(names))

3

In [12]:
print(names.count("Anik"))

1

In [13]:
print(names.index("Saptarshi"))

1

In [14]:
# Packing and Unpacking of Tuple
packed_tuple=1,"Hello",3.14,True
print(packed_tuple)

(1, 'Hello', 3.14, True)

In [15]:
a,b,c,d=packed_tuple
print(a)
print(b)
print(c)
print(d)

1
Hello
3.14
True

In [16]:
# Unpacking with * operator
num=(1,2,3,4,5,6,7,8,9)
first,*middle,last=num
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8]
9

In [17]:
# Nested Tuple
nested_tuple=(1,2,(3,4),5)
print(nested_tuple)

(1, 2, (3, 4), 5)

In [18]:
# List inside Tuple
list_tuple=(1,2,[3,4],5)
print(list_tuple)

(1, 2, [3, 4], 5)

In [19]:
# Tupil inside List
list_with_tuple=[1,2,(3,4),5]
print(list_with_tuple)

[1, 2, (3, 4), 5]

In [20]:
tuple2D=((1,2),(3,4),(5,6))
print(tuple2D)

((1, 2), (3, 4), (5, 6))

In [22]:
for row in tuple2D:
    for element in row:
        print(element)
    print()

1
2

3
4

5
6